{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-4 main-heading text-center">Shopping Bag</h2>
      <hr>
    </div>
  </div>
<!-- Order summary table -->
  <div class="row">
    <div class="col">
      {% if bag_items %}
      <div class="table-responsive rounded">
        <table class="table table-sm table-borderless">
          <thead class="main-heading">
            <tr>
              <th scope="col">Course Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>

          {% for item in bag_items %}
          <tr>
            <td class="py-3">
              <p class="my-0 title-font"><strong>{{ item.course.name }}</strong></p>
            </td>
            <td class="py-3">
              <p class="my-0">{{ item.course.start_time }}</p>
            </td>
            <td class="py-3">
              <p class="my-0">£{{ item.course.price }}</p>
            </td>
            <td class="py-3 w-25">
              <!-- Quantity update form -->
              <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="decrement-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}"
                        id="decrement-qty_{{ item.item_id }}">
                        <span>
                          <i class="fas fa-minus fa-sm"></i>
                        </span>
                      </button>
                    </div>
                    <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                      value="{{ item.quantity }}" min="1" max="10" data-item_id="{{ item.item_id }}"
                      id="id_qty_{{ item.item_id }}">
                    <div class="input-group-append">
                      <button class="increment-qty btn btn-sm btn-black rounded-0" data-item_id="{{ item.item_id }}"
                        id="increment-qty_{{ item.item_id }}">
                        <span>
                          <i class="fas fa-plus fa-sm"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!--Update and remove quantity buttons -->
              <a class="update-link"><small>Update</small></a>
              <a class="remove-item float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
            </td>
            </td>
            <td class="py-3">
              <p class="my-0">£{{ item.course.price | calc_subtotal:item.quantity }}</p>
            </td>
          </tr>
          {% endfor %}
          <!-- Bag totals -->
          <tr>
            <td colspan="5" class="pt-5 text-right">
              <h6 class="title-font"><strong>Total: £{{ total|floatformat:2 }}</strong></h6>
            </td>
          </tr>
          <tr>
            <!--Home and checkout buttons -->
            <td colspan="5" class="text-right">
              <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-chevron-left" style="color:var(--purple)"></i>
                </span>
                <span class="title-font">Back to Home</span>
              </a>
              <a href="{% url 'checkout' %}" id="submit-button" class="btn btn-lg">
                <span class="title-font">Secure Checkout</span>
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <!--Bag empty course links-->
      <p class="lead mb-5 main-heading">Your bag is empty!</p>
      <p class="title-font">View our courses...</p>
      <span class="icon mb-5 d-flex justify-content-between">
        <a href="{% url 'babies_courses' %}" class="btt-back-to-courses rounded-4">Babies</a>
        <a href="{% url 'toddlers_courses' %}" class="btt-back-to-courses rounded-4">Toddlers</a>
        <a href="{% url 'preschooler_courses' %}" class="btt-back-to-courses rounded-4">Preschool</a>
        <a href="{% url 'early_years_courses' %}" class="btt-back-to-courses rounded-4">EarlyYears</a>
      </span>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">

    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/bag/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })

    // scroll to top button 
    $('.btt-link').click(function (e) {
      window.scrollTo(0, 0)
    })
</script>
{% endblock %}