{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<section class="cafe section-bg pt-2">
    <div class="container">
        <div class="row">
           <div class="col-12 section-title">
              <!--Page title-->
            <h1 class="logo-font mb-4 main-heading text-center">Cafe Menu</h1>
            <p>Fancy a coffee? Have a look at our delicious homemade food menu</p>
         </div>
      </div>
      <div class="row">
         <!--Cafe image and menu are wrapped in an icon box-->
         <div class="icon-box mt-3 p-4 d-flex justify-content-center">
            <!-- Cafe Image -->
            <div class="col-12 mt-4 mb-4">
               <img src="{{ MEDIA_URL }}msp4_media/70.webp" class="img-fluid" alt="Coffee and Biscuit">
            <!-- Cafe Menu -->
               <div class="item">
                  <h2 class="title-font pl-3 mt-3 mb-3">Hot Drinks</h2>
                  <ul>
                     <li>Cappucino</li>
                     <li>Latte</li>
                     <li>Americano</li>
                     <li>Mocha</li>
                     <li>English Breakfast Tea</li>
                     <li>Assorted Speciality Tea</li>
                  </ul>
                  <span class="font-weight-bold">£3.00 each</span>
               </div>
               <div class="item">
                  <h2 class="title-font pl-3 mt-3 mb-3">Cold Drinks (bottled)</h2>
                  <ul class="text-center mr-4">
                     <li>Water</li>
                     <li>Cola</li>
                     <li>Lemonade</li>
                     <li>Blackcurrent Juice</li>
                     <li>Orange Juice</li>
                     <li>Apple Juice</li>
                  </ul>
                  <span class="font-weight-bold">£2.00 each</span>
               </div>
               <div class="item">
                  <h2 class="title-font pl-3 mt-3 mb-3">Hot Food</h2>
                  <p>We offer various fillings options daily so check out our Specials Board on the day</p>
                  <ul class="text-center mr-4">
                     <li>Toasties</li>
                     <li>Jacket Potatoes</li>
                     <li>Fish and Chips</li>
                     <li>Beans on toast</li>
                  </ul>
                  <span class="font-weight-bold">£4.00 each</span>
               </div>
               <div class="item">
                  <h2 class="title-font pl-3 mt-3 mb-3">Sandwiches</h2>
                  <p>All of our Sandwiches are served with crisps, coleslaw and a delicious salad</p>
                  <ul class="text-center mr-4">
                     <li>Tuna Mayo</li>
                     <li>Ham</li>
                     <li>Cheese</li>
                     <li>Ploughmans</li>
                     <li>Chicken Tikka</li>
                  </ul>
                  <span class="font-weight-bold">£4.50 each</span>
               </div>
               <div class="item">
                  <h2 class="title-font pl-3 mt-3 mb-3">Childrens Meals</h2>
                  <p>You can order any food on the menu as a chid portion or 
                     you can order our childrens happy meal box which contains 
                     one each of the following (pick on the day from our childerns 
                     counter)
                  </p>
                  <ul class="text-center mr-4">
                     <li>Small Sandwich</li>
                     <li>Crisps</li>
                     <li>Fruit</li>
                     <li>Mini Biscuit/Cake</li>
                     <li>Bottle of fruit juice</li>
                  </ul>
                  <span class="font-weight-bold">£4.50 per box</span>
               </div>
               <div class="item">
                  <h2 class="title-font pl-3 mt-3">Pudding</h2>
                  <p>All our cakes and biscuits are baked fresh on site. 
                     We often have additional puddings to buy on the day but these are our core baked goods
                  </p>
                  <ul class="text-center mr-4">
                     <li>Victoria Sponge cake</li>
                     <li>Chocolate Cake</li>
                     <li>Blueberry Muffin</li>
                     <li>Apple Pie</li>
                     <li>Fruit Biscuit</li>
                  </ul>
                  <span class="font-weight-bold">£3.50 each</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}