{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="section-bg pt-2 instructor-detail">
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr>
                        <!--Page title-->
                        <h3 class="main-heading text-center pb-3">Cafe Menu</h3>
                        <hr></div>
                    </div>
                    <div class="row">
                        <div
                            class="col-12">
                            <!--Instructor image and bio are wrapped in an icon box-->
                            <div class="icon-box mt-3 p-4">
                                <div
                                    class="row">

                                    <!-- Cafe Image -->
                                    <div class="col-md-4 mt-4 mb-4">
                                        <span class="d-flex align-items-center justify-content-center">
                                            <img src="{{ MEDIA_URL }}msp4_media/child-celebrating-his-birthday.webp" class="img-fluid" alt="children celebrating his birthday"></span>
                                        </div>

                                        <!-- Cafe Menu -->
                                        <section class="menu">
                                            <div class="col-md-8 mt-4">
                                                <div class="item">
                                                    <h2>Hot Drinks</h2>
                                                    <ul>
                                                        <li>Cappucino</li>
                                                        <li>Latte</li>
                                                        <li>Americano</li>
                                                        <li>Mocha</li>
                                                        <li>English Breakfast Tea</li>
                                                        <li>Assorted Speciality Tea</li>
                                                    </ul>
                                                    <span>£3.00 each</span>
                                                </div>
                                                <div class="item">
                                                    <h2>Cold Drinks (bottled)</h2>
                                                    <ul>
                                                        <li>Water</li>
                                                        <li>Cola</li>
                                                        <li>Lemonade</li>
                                                        <li>Blackcurrent Juice</li>
                                                        <li>Orange Juice</li>
                                                        <li>Apple Juice</li>
                                                    </ul>
                                                    <span>£2.00 each</span>
                                                </div>
                                                <div class="item">
                                                    <h2>Hot Food</h2>
                                                    <p>We offer various fillings options daily so check out our Specials Board on the day</p>
                                                    <ul>
                                                        <li>Toasties</li>
                                                        <li>Jacket Potatoes</li>
                                                        <li>Chips</li>
                                                        <li>Beans on toast</li>
                                                    </ul>
                                                    <span>£4.00 each</span>
                                                </div>
                                                <div class="item">
                                                    <h2>Sandwiches</h2>
                                                    <p>All Cold Foods are served with crisps, coleslaw and a delicious salad</p>
                                                    <ul>
                                                        <li>Tuna Mayo</li>
                                                        <li>Ham</li>
                                                        <li>Cheese</li>
                                                        <li>Ploughmans</li>
                                                        <li>Chicken Tikka</li>
                                                    </ul>
                                                    <span>Item price</span>
                                                </div>
                                                <div class="item">
                                                    <h2>Childrens meals</h2>
                                                    <p>You can order any food on the menu as a chid portion or 
                                                      you can order our childrens happy meal box which contains 
                                                      one each of the following (pick on the day from our childerns 
                                                      counter)</p>
                                                    <ul>
                                                        <li>Small Sandwich</li>
                                                        <li>Crisps</li>
                                                        <li>Fruit</li>
                                                        <li>Mini Biscuit/Cake</li>
                                                        <li>Bottle of fruit juice</li>
                                                    </ul>
                                                    <span>Item price</span>
                                                </div>
                                                <div class="item">
                                                    <h2>Item 2 Name</h2>
                                                    <p>Item description.</p>
                                                    <span>Item price</span>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            {% endblock %}
