{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}

<h1>WOOPS! Roadworks in Little Pont Town</h1> 
<p>Sorry, you can't access this page at the moment but we know about the problem and are working to fix it as quickly as possible.</p>
<p>Please navigate back to our site using the navbar above. Thank you for your patience.</p>

{% endblock %}
