html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Amatic SC';
}

#top-header {
    background: url('/media/sky.jpg') no-repeat center center fixed;
	background-size: cover;
    top: 0;
    left: 0;
    border-bottom: 0.5px solid black;
}

.nav-link {
    padding-bottom: 0;
}

.nav-item,
.list-inline-item {
    padding: 20px;
    font-size: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#content {
    background: url('') no-repeat center center fixed;
    background-size: cover;
    top: 0;
    left: 0;
}   

.book-now-button {
    background: #ff99c8;
    color: black;
    font-weight: 600;
    min-width: 260px;
}

.btn-black {
    background: #ff99c8;
    color: black;
}

.book-now-button:hover,
.book-now-button:active,
.book-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #d0f4de;
}

.text-black {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 800 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 330px;
    }
}