html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Amatic SC';
}

header {
    position: relative;
}

.top-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10; /* Ensure it's above the image */
    background: rgba(255, 255, 255, 0);
}

#top-header-image {
    position: relative; /* Ensure it is positioned relative for .top-header to overlay correctly */
    z-index: 1; /* Ensure it is below .top-header */
    background: url('/media/sky.jpg') no-repeat center center fixed;
	background-size: cover;
    top: 0;
    left: 0;
    border-bottom: 0.5px solid white;
}

.nav-link {
    padding-bottom: 0;
}

.nav-item,
.list-inline-item {
    padding: 10px;
    font-size: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
} 

#hero {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
  }
  @media (max-height: 500px) {
    #hero {
      height: 150vh;
    }
  }
  
  #hero .hero,
  #hero .hero-inner,
  #hero .hero-item,
  #hero .hero-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .hero-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .hero-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #hero .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
  }

  
  #hero .container {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 900;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 38px;
    }
  }
  
  #hero p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
    font-size: 45px;
    font-weight: 600px;
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
  }
  
  #hero .book-now-button {
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 25px;
    transition: 0.5s;
    margin: 5px;
    background: #d0f4de;
    color: black;
    font-weight: 600;
  }
  
  #hero .book-now-button:hover {
    background: #ff99c8;
  }

.text-black {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 800 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        /*padding-top: 330px;*/
    }
}