<div class="collapse navbar-collapse" id="main-nav">
    <div class="d-flex justify-content-center w-100">
        <ul class="navbar-nav mx-auto">
            <!-- Home Link -->
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                    Home
                </a>
            </li>

            <!-- About dropdown -->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link mr-5 dropdown-toggle" role="button" href="{% url 'home' %}#about" 
                    id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="about-link">
                    <a href="{% url 'home' %}#about" class="dropdown-item">About Us</a>
                    <a href="{% url 'home' %}#what-we-offer" class="dropdown-item">What We Offer</a>
                    <a href="{% url 'instructor_info' %}" class="dropdown-item">Meet The Team</a>
                    <a href="{% url 'home' %}#cafe-info" class="dropdown-item">Cafe</a>
                </div>
            </li>

            <!-- Courses dropdown -->
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link mr-5 dropdown-toggle" role="button" href="{% url 'home' %}#courses-overview" 
                    id="courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="courses-link">
                    <a href="{% url 'all_courses' %}" class="dropdown-item">View all our courses</a>
                    <a href="{% url 'courses_by_age_group' age_group='Babies' %}" class="dropdown-item">Babies Courses</a>
                    <a href="{% url 'courses_by_age_group' age_group='Toddler' %}" class="dropdown-item">Toddlers Courses</a>
                    <a href="{% url 'courses_by_age_group' age_group='preschool' %}" class="dropdown-item">Preschool Courses</a>
                    <a href="{% url 'courses_by_age_group' age_group='Early Years' %}" class="dropdown-item">Early Years Courses</a>
                </div>
            </li>
            <!-- Contact link -->
            <li class="nav-item">
                <a id="contact-link" class="logo-font font-weight-bold nav-link" href="{% url 'send_booking_enquiry' %}">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</div>