<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" role="button" href="#" id="about-link"
                data-toggle="dropdown" data-target="#about-dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                About
            </a>
            <div class="dropdown-menu border-0" id="about-dropdown" aria-labelledby="about-link">
                <a href="" class="dropdown-item">Who We Are</a>
                <a href="" class="dropdown-item">What We Offer</a>
                <a href="" class="dropdown-item">Meet The Team</a>
                <a href="" class="dropdown-item">Cafe</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" role="button" href="#" id="courses-link" data-toggle="dropdown"
            data-toggle="dropdown" data-target="#course-dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                Courses
            </a>
            <div class="dropdown-menu border-0" id="course-dropdown" aria-labelledby="courses-link">
                <a href="" class="dropdown-item">Babies</a>
                <a href="" class="dropdown-item">Toddlers</a>
                <a href="" class="dropdown-item">Preschool</a>
                <a href="" class="dropdown-item">Early Years</a>
            </div>
        </li>
    </ul>
</div>
