{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block inner_content %}
<div class="container">
   <div class="icon-box">
      <div class="row d-flex justify-content-center">
         <div class="col-12 col-md-4">
            <div class="section-title">
               <h2 class="logo-font mb-1">{% trans "Change Password" %}</h2>
            </div>
            <p>{% trans 'Your password is now changed.' %}</p>
         </div>
      </div>
   </div>
</div>
{% endblock %}
