{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <!--Page title-->
        <h2 class="logo-font mb-4 main-heading text-center">Team Management</h2>
        <hr>
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="title-font mb-4">Edit an Instructor</h2>
          <!-- Form to edit/update an instructor -->
            <form method="POST" action="{% url 'edit_instructor' instructor.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Organising form fields -->
                {% for field in form %}
                  {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                  {% else %}
                    {{ field }}
                  {% endif %}
                {% endfor %}
                <!-- Cancel and Submit buttons -->
                <div id="button-control" class="text-right">
                    <a class="update-link mt-3 mb-3 pt-1" href="{% url 'instructor_info' %}">Cancel</a>
                    <button id="submit-button" class="mt-3 mb-3" type="submit">Edit Instructor</button>
                </div>
            </form>
        </div>            
    </div>
</div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
      /* updating an image */
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}