{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="section-bg pt-2 instructor-detail">
  <div class="container">
    <div class="row">
      <div class="col-12 section-title">
        <!--Page title-->
        <h1 class="main-heading text-center pb-3">{{ instructor.instructor_name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!--Instructor image and bio are wrapped in an icon box-->
        <div class="icon-box mt-3 p-4">
          <div class="row">

            <!-- Instructor Image -->
            <div class="col-md-4 mt-4 mb-4">
              <span class="d-flex align-items-center justify-content-center">
                {% if instructor.image_url %}
                <img src="{{ instructor.image_url }}" alt="Image of {{ instructor.instructor_name }}" class="img-fluid">
                {% else %}
                <img src="{{ MEDIA_URL }}msp4_media/noimage.png" alt="No image available for {{ instructor.instructor_name }}"
                  class="img-fluid">
                {% endif %}
              </span>
            </div>

            <!-- Instructor bio -->
            <div class="col-md-8 mt-4">
              <h2 class="title-font text-center mb-5">A bit about me</h2>
              <p>I'm {{ instructor.instructor_name }} and I teach the {{ instructor.speciality_age_group }} course.
              </p>
              <p>{{ instructor.bio_description }}</p>
              <p>{{ instructor.experience }}</p>
              <!-- superuser edit/delete controls -->
              {% if request.user.is_superuser %}
              <div class="ml-3 superuser-controls">
                <a class="update-link" href="{% url 'edit_instructor' instructor.id %}">Edit</a>
                <a class="remove-item" href="{% url 'delete_instructor' instructor.id %}">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}