{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="team-content">
    <div class="team-img">
      <div class="row">
        <div class="col-2 mb-1">
          {% if instructor.instructor.image %}
          <img src="{{ instructor.image.url }}" alt="image of {{ instructor.instructor_name }}">
          {% else %}
          <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ instructor.instructor_name }}">
          {% endif %}
        </div>
      </div>
      <div class="img-overlay">
        <h4>{{ instructor.instructor_name }}</h4>
        <h4>{{ instructor.speciality_age_group }}</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}