{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- instructor_info.html -->
<div class="team-container">
    <section id="meet-the-team" class="meet-the-team">
        <div class="icon-box">
            <div class="section-title">
                <!--Page title-->
                <h1>Meet Our Team</h1>
                <p>{{ instructor.image.url }}</p>
            </div>
            <!-- Loop through instructors to display each -->
            {% for instructor in instructors %}
            <div class="team-content">
                <div class="team-img">
                    <!-- If no instructor image, display an 'image-pending' icon -->
                    {% if instructor.image_url %}
                        <img class="w-100" src="{{ instructor.image_url }}" alt="{{ instructor.instructor_name }}">
                        {% else %}
                        <img class="card-img-top img-fluid bg-custom" src="{{ MEDIA_URL }}msp4_media/no-image-icon-23499.webp"
                                alt="{{ instructor.instructor_name }}">
                    {% endif %}
                    <!-- Image overlay -->
                    <div class="img-overlay">
                        <p>{{ instructor.instructor_name }}</p>
                        <p>{{ instructor.speciality_age_group }}</p>
                        <a class="update-link" href="{% url 'instructor_detail' instructor.id %}">More about
                            {{ instructor.instructor_name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
<!-- End Hero Section -->
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    /* scroll to top button */
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}